<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Titanic: An Edu-Tainment Experience</title>
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="reset.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="script.js"></script>
	</head>
	<body>
		<div class="header">
        	<p class="title">Titanic</p>
    	</div>
		{{{ body }}}
	</body>
</html>