<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Titanic: An Edutainment Experience</title>
		<link rel="stylesheet" href="reset.css">
		<link rel="stylesheet" href="style.css">
		<link href="https://fonts.googleapis.com/css?family=Lora&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="script.js"></script>
		<script src="ajax.js"></script>
	</head>
	<body>
		<div class="header">
        	{{!-- <p class="title">Titanic</p> --}}
    	</div>
		{{{ body }}}
	</body>
</html>