<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Titanic: An Edu-Tainment Experience</title>
		<link src="../../public/style.css"></link>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>