<div class="container">
<h1>Activities</h1>
<hr>
<p> While the passengers were divided among their respective social classes, each class had their own ways to keep
    themselves entertain while on board the ship.
</p>
<h2>First class</h2>
<hr>
<p>The members of the first class were able to enjoy to finer ammenities while onboard the Titanic. While they lived in
    luxury, they were also able to enjoy many different types of games. They were able to have access to some deck games
    such as shuffleboard, access to the gym and various squash courts. Some passengers of the first class were also able
    to play many board games such as chess and backgammon.</p>
<h2>Second Class</h2>
<hr>
<p>The second class passengers also had many of the same ammenities as their first class counterparts. Some passengers
    were able to enjoy many different facilities onboard including a large outdoor viewing area, a full smoking room and
    they evenn had access to a large library that was also held on board the ship.</p>
<h2>Third Class</h2>
<hr>
<p>Third class passengers were afford the bare facilities while on board the Titanic. While the passengers did have
    access to a general room where every passenger would gather in and socialized among themselves, they did have access
    to some music in the form of a piano that would be played during the evening and they even had a male-only smoke
    room, much like some of the the other classes on board.</p>
</div>
