<h1>Activities</h1>
<br>
<h2>First class</h2>
<p>First class on board Titanic was the ultimate in luxury. It included veranda cafes, a smoking room, restaurant, a dining saloon and a reading and writing room. The facilities on Titanic far surpassed those of rival ships of that time.</p>
<br>
<h2>Second Class</h2>
<p>Passengers in second class had facilities such as a spacious outdoor promenade, a smoking room, a library and dining room. Afternoon tea and coffee was served in the library. They also had access to facilities for games and relaxation.</p>
<br>
<h2>Third Class</h2>
<p>The general room was where most passengers gathered, talked and socialised. There was a piano for passengers to make their own music in the evenings. There was also a male-only smoke room which was panelled and furnished in oak with teak furniture. Third class passengers ate in their own dining room</p>
