<div class="tlp-container">
    <div class="tlp-header">
        <p class="tlp-title">Dining</p>
    </div>
    <div class="tlp-card">
        <h2 class="tlp-head">First class</h2>
        <p class="tlp-p">First class passengers were allowed access to the largest dining room on any ship boasting seating for about a thousand people, a full orchestra, and an array of fancy ornamentation.</p>
        <br>
        <h2 class="tlp-head">Second Class</h2>
        <p class="tlp-p">Passengers in second class were allowed access to a lavish ballroom of their own with a pianist, multi-course meal, and sprawling setup. Even second class passengers enjoy meals with multiple courses.</p>
        <br>
        <h2 class="tlp-head">Third Class</h2>
        <p class="tlp-p">Third class passengers on The Titanic were provided food and ate in a large hall. Due to the volume of passengers they had to eat in 3 shifts for each meal. However, while the quality was lower than that of meals served in the First and Second class, it was still far superior to other vessels of the time. That standard at the time was for low class passengers to bring their own food.</p>

    </div>
</div>


