<div class="main">
    <div class="header">
        <p class="title">Titanic</p>
    </div>
    <img class="background-img" src="./images/titanic8.jpeg" alt="Titanic Exterior">
    <div class="card">
        <h1 class="card-head">Titanic</h1>
        <h2 class="card-subhead">An Edutainment Experience</h2>
        <p class="description">In this experience you will learn about the event that sank the "unsinkable ship" and the passengers on board.</p>
        <button class="btn">Start</button>
    </div>
    <div class="sm-card sm-card1">
        <h1>Choose your Passenger</h1>
        <p>Choose from 5 different passengers from different walks of life. Find out what their experience was like on the Titanic.</p>
    </div>
    <div class="sm-card sm-card2">
        <h1>Learn About the Titanic Experience</h1>
        <p>Depending on your passengers class you'll se what it's like to be aboard the Titanic in first second or third class. Learn about the activities on the ship.</p>
    </div>
    <div class="sm-card sm-card3">
        <h1>When the Iceberg Hits</h1>
        <p>Experience the the devastating moments and logistics of the titanic sinking.</p>
    </div>
</div>