<div class="tlp-container">
    <div class="tlp-header">
        <p class="tlp-title">Lodging</p>
    </div>
    <div class="tlp-card">
        <h2 class="tlp-head">First class</h2>
        <p class="tlp-p">First class passengers on board the titanic were afforded the best of lodgings. Their suites were personal and included extra space for guests. The rooms for first class passengers were on the upper levels of the boat allowing the wealthy a more spacious and comfortable experience.</p>
        <br>
        <h2 class="tlp-head">Second Class</h2>
        <p class="tlp-p">Passengers in second class had to share lodging to a certain extent with rooms including 2-4 beds. Second class passengers resided in the central decks, below the first class passengers but not in the claustrophobic bowels of the ship</p>
        <br>
        <h2 class="tlp-head">Third Class</h2>
        <p class="tlp-p">Lodging for Third Class, while worse than First and Second class, was better on the Titanic than on any other ship of the time. Rooms were located deep within the ship near the engines and fit up to 10 passengers. Single men and single women were seperated to the front and back of the ship while family lodged between them</p>

    </div>
</div>