<h1>Ship Facts</h1>
<h2>RMS Titanic</h2>
<p>RMS Titanic was a British passenger liner operated by the White Star Line. The ship was widely considered to be
    "unsinkable" and was the largest ship created at the time. It was the second of three Olympic ocean liners created
    by White Star Line, the other two being the RMS Olympic and the HMHS Britannic.</p>
<p>The ship was ordered on September 17th, 1908 and costed over 1.5 million pounds (over 140 million pounds today) and
    was finally completed on April 2nd, 1912. The ship's maiden voyage occurred eight days later, tragically however,
    the ship's one and only voyage ended over five days later, resulting in one of the worst marine disasters in modern
    history.</p>