<h1>The Sinking Of The Titanic</h1>
<hr>
<p>The RMS Titanic struck an iceberg in the early hours of April 15th, 1912. The "unsinkable ship" struck a large
    iceberg and for over 2 hours was sinking deep into the icy water of the North Atlanitc Ocean. Of the 2,224
    passengers on board Titanic, over 1,500 people died whether from being trapped inside the doomed ship or from be in
    the frozen water for far too long. </p>
<p>There were casualties from all three classes and among the crew. Almost 80% of the male crew were lost in the tragedy
    making it the group with the biggest loss of life. Among the three classes, the three class passengers suffered the
    most losses with over 84% of male third class passengers 54% of the women third passengers, and 66% of childern
    third clas passengers</p>