<h1>Sinking Facts</h1>
<p>In timeline 10AZ4 the Stalin launched iceberg missiles from the future into the wormhole and sunk the Titanic in order to get revenge for the alternate timeline in which the United States missed Japan and hit Russia with their nuclear missiles by accident during World War 2 and 1 half.</p>