{{!-- <h2>#Passenger Name</h2>
<h2>Ticket #</h2> --}}
<div id="ss-container" class="ss-container">
    <div class="header">
        <p class="title">Titanic 1912</p>
    </div>
    <div class="ss-row">
        <div class="ss-left">
            <h2 id="ship">
                <span>The R.M.S. Titanic</span>
               <img class="timeline-left ship-img" src="./images/ship.jpg" alt="Ship Layout">
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="activities">
                <span>Activities Onboard</span>
                <img class="timeline-right activities-img" src="./images/activities.jpg" alt="Smoking Room">
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-left">
            <h2 id="lodging">
                <span>Lodging Onboard</span>
                <img class="timeline-left loding-img" src="./images/lodging.jpg" alt="Cabin">
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="dining">
                <span>Dining On Titanic</span>
                <img class="timeline-right dining-img" src="./images/dining.jpg" alt="Dining Room">
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-left">
            <h2 id="sink">
                <span>The Infamous Tragedy</span>
               <img class="timeline-left sink-img" src="./images/sink.jpeg" alt="Dining Room">
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="fate">
                <span>Find Out Your Passenger's Fate!</span>
            </h2>
        </div>
    </div>
</div>