<h1 id="timeline-header">A Timeline of Titanic</h1>
{{!-- <h2>#Passenger Name</h2>
<h2>Ticket #</h2> --}}
{{!-- <div id="timeline-links">
    <a href="#shipfacts">Ship Facts</a> |
    <a href="#activities">Activities</a> |
    <a href="#nightlife">Nightlife</a> |
    <a href="#information">Information</a> |
    <a href="#classinfo">Class Info</a> |
    <a href="#sinking">The Sinking</a> |
    <a href="#fate">Find Out Your Fate</a>
</div> --}}
<div id="ss-container" class="ss-container">
    <div class="ss-row">

        <div class="ss-left">
            <h2 id="ship">
                <span>Meet The Titanic</span>
                <div class="timeline-body-left">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="activities">
                <span>Activities</span>
                <div class="timeline-body-right">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-left">
            <h2 id="lodging">
                <span>Lodging</span>
                <div class="timeline-body-left">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="dining">
                <span>Dining</span>
                <div class="timeline-body-right">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-left">

            <h2 id="sink">
                <span>The Tragedy</span>
                <div class="timeline-body-left">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-left">
            <h1 id="fate">
                <span>Find Out Your Passenger's Fate!</span>
            </h1>
        </div>
    </div>
</div>