<h1>Timeline</h1>
<h2>#Passenger Name</h2>
<h2>Ticket #</h2>
<div id="timeline-links">
    <a href="#information">Information</a> |
    <a href="#shipfacts">Ship Facts</a> |
    <a href="#classinfo">Class Info</a> |
    <a href="#activities">Activities</a> |
    <a href="#nightlife">Nightlife</a> |
    <a href="#sinking">The Sinking</a> |
    <a href="#fate">Find Out Your Fate</a>
</div>
<div id="ss-container" class="ss-container">
    <div class="ss-row">
        <div class="ss-left">
            <h2 id="information">
                <a href="/timeline/information"><span>General Information</span></a>
                <div class="timeline-body-left">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="shipfacts">
                <a href="/timeline/ship"><span>Ship Facts About Titanic</span></a>
                <div class="timeline-body-right">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-left">
            <h2 id="classinfo">
                <a href="/timeline/class"><span>Class Information</span></a>
                <div class="timeline-body-left">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="activities">
                <a href="/timeline/activities"><span>Activities Onboard Titanic</span></a>
                <div class="timeline-body-right">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-left">
            <h2 id="nightlife">
                <a href="/timeline/nightlife"><span>Titanic Nightlife</span></a>
                <div class="timeline-body-left">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
    <div class="ss-row">
        <div class="ss-right">
            <h2 id="sinking">
                <a href="/timeline/sink"><span>The Sinking Of The Titanic</span></a>
                <div class="timeline-body-right">
                    This is where we have a brief paragraph. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatem repellat tempora blanditiis rem dolorem nemo ipsa ad, nam doloremque laudantium pariatur
                    minima perferendis dolore recusandae accusamus! Itaque possimus fugit ab.
                </div>
            </h2>
        </div>
    </div>
        <div class="footer">
            <h1 id="#fate">
                <a href="/fate"><span>Find Out Your Passenger's Fate!</span></a>
            </h1>
        </div>
</div>