body {
    font-family: 'Lora', serif;
    background-image: url(https://wallpapercave.com/wp/XqRBXyO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* main page */
.header {
    height: fit-content;
    text-align: left;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    filter: saturate(50%);
}
.title {
    font-size: 30px;
    padding: 10px
}
.data-slides{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-column-gap: auto;
}
.passenger-slides{
    align-items: center;
    justify-content: center;
    text-align: center;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: auto 25% 25% auto auto;
    /* grid-column-gap: 30px */
}
.background-img{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
    height: 100%;
    width: 100%;
    /* filter: opacity(50%); */
    filter: saturate(50%);
    z-index: -1;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: red;

}
.card {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    text-align: center;
    color: white;
    margin: 20px 200px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.473);
    border-radius: 100px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
}
.card-head {
    padding: 1%;
    font-size: 30px;
}
.card-subhead {
    padding: 1%;
    font-size: 25px;
}
.description {
    padding: 1%;
    font-size: 20px;
}
.btn {
    margin: 15px 0 0 0;
    text-align: center;
    padding: 2px 20px;
    background-color: red;
    border-color: red;
    filter: saturate(50%);
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
    color: white;
}
.sm-card1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}
.sm-card2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
}
.sm-card3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
}
.sm-card{
    text-align: center;
    padding: 20px;
    line-height: 20px;
    background-color: white;
    margin-top: 5px;
}
.cardH1 {
    font-size: 20px;
    padding: 10px 10px 20px 10px;
    color: red;
    filter: saturate(50%);
}
.cardP {
    font-size: 15px;
}

/* timeline page */
.ss-container{
    width: 100%;
    position: relative;
    text-align: left;
    float: left;
	overflow: hidden;
    /* padding-bottom: 500px; */
    /* z-index: -1; */
    /* border-bottom: 4px solid red;
    background-image: url(https://wallpapercave.com/wp/XqRBXyO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}
.ss-container h2{
    font-size: 40px;
    text-transform: uppercase;
    color: rgba(78,84,123,0.2);
	text-shadow: 0px 1px 1px #fff;
    padding: 20px 0px;
}
.ss-container:before{
    position: absolute;
    width: 4px;
    background: rgba(17,17,22,0.8);
    top: 0px;
    left: 50%;
	margin-left: -2px;
    content: '';
    height: 100%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}
.ss-left, .ss-right{
    float: right;
    width: 48%;
    position: relative;
    padding-bottom: 100px;
}
.ss-right{
    padding-left: 2%;
}
.ss-left{
    text-align: right;
    float: left;
    padding-right: 2%;
}
span{
    color: black;
    /* font-size: 15px; */
    font-family: "Jim Nightshade", cursive;
    text-shadow: 0 0 11px rgba(33,33,33, 0.8);

}

.timeline-body-left{
    border: 2px solid black;
    font-size: 12px;
    color: black;
    float: right;
    width: 50%;
    position: relative;
    /* background: rgba(222, 220, 200, 0.815); */

}
.timeline-body-right{
    border: 2px solid black;
    font-size: 12px;
    color: black;
    float: left;
    width: 50%;
    position: relative;
    /* background: rgba(211, 211, 211, 0.5) */

}
.timeline-body-left:hover{
    box-shadow: 0 0 11px rgba(33,33,33, 0.5);
}
.timeline-body-right:hover{
    box-shadow: 0 0 11px rgba(33,33,33, 0.5);
}

#timeline-header{
    text-align: center;
    border-bottom: 2px solid red;
    font-size: 35px;
}
.footer {
    /* border-top: 2px solid red; */
    text-align: center;
    font-size: 35px;
    z-index: -1;
}

/* passenger page */
.pass-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: auto auto 100% auto;
    grid-column-gap: 10px;
    /* background-image: url(https://wallpapercave.com/wp/XqRBXyO.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}
.p-header {
    height: fit-content;
    text-align: left;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: red;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    filter: saturate(50%);
}
.p-title {
    font-size: 30px;
    padding: 10px
}
.pass-card {
    grid-column-start: auto;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: 2;
    height: 60px;
    width: 60px;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 30px 10px;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.473);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    cursor: pointer;
}

.text {
    margin: 0;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}
.pH3 {
    color: red;
    filter: saturate(50%);
}

/* timeline pages */

.tlp-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: auto auto auto;
}
.tlp-header {
    height: fit-content;
    text-align: left;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: red;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    filter: saturate(50%);
}
.tlp-title {
    font-size: 30px;
    padding: 10px
}
.tlp-card {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: rgba(255, 255, 255, 0.473);
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
    margin: 50px 0;
    padding: 30px;
}
.tlp-head {
    color: red;
    filter: saturate(50%);
    font-size: 40px;
}
.tlp-p {
    margin: 20px 0;
    line-height: 20px;
}

/* fate */

.f-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-template-rows: auto auto auto;
}
.f-header {
    height: fit-content;
    text-align: left;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 0 0 5px 0;
    border-color: red;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
    filter: saturate(50%);
}
.f-title {
    font-size: 30px;
    padding: 10px
}
.f-card {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 3;;
    margin: 10px 20px;
}
#article {
    margin-top: 20px;
}